---
layout: default
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
  {{ content }}

  <div class="creativecommon">
    本文采用 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">CC BY-NC-SA 3.0</a> 许可协议进行许可
    </div>


</div>



<div class="related">
  <h3>相关文章</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: '%B %d, %Y' }}</small>
          </a>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{site.url}}{{ page.url }}" style="margin-bottom:100px;"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"zifeixu"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->
